@import url(../css/font.css);

html,body{
    margin:0%;
    box-sizing:border-box;
    overflow-x: hidden;
}

:root{
    /* theme colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;
/* gradient color */

--sky: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
/* theme font-family */
    --Abel:"Abel",cursive;
    --Josephine:"Josephine", cursive;
}
/* -------------- Global classes ------------------- */

a{
    text-decoration: none;
    color:var(--text-gray)

}
.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
ul{
    list-style-type:none;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size:2.4rem;
}
h2{
    font-family:var(--Josephine)
}
h3{
    font-family:var(--Abel);
    font-size:1.6rem;
}

button.btn{
    padding:1rem 3rem;
    border:none;
    border-radius:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1rem;
    cursor:pointer;

}
span{
    font-family:var(--Abel);
}

.container{
    margin:0 5vw;
}
.text-gray{
    color:var(--text-gray);
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:grey
}
hr{
    width:80%;
    margin-left:20px;
    margin-right:20px;
}
/* -------------- Global classes ------------------- 

/* -----------------------------navigation bar--------------------- */


.nav{
background: WHITE;
padding: 0 2rem;
height:0rem;
min-height: 9vh;
overflow: hidden; 
transition:height 1s ease-in-out;
}
.nav .nav-menu{
    justify-content: space-between;
    padding:1.3rem 0;
}
.nav .toggle-collapse{
    position:absolute;
    top:0%;
    width: 90%;
    cursor:pointer;
    margin-top:40px;
    font-size:2.4rem;
    display:none;
}
.nav .toggle-collapse .toggle-icons{
    display:flex;
    justify-content:flex-end;
    
}
.collapse{
    height:50vh;
}

.nav .nav-item{
    list-style-type: none;
    display:flex;
    margin: 0;
}
nav .nav-item .nav-link{
    padding:0 1rem;
    font-size:1.1rem;
    position:relative;
    font-family:var(--Abel);
    font-size:1.5rem;
}
nav .nav-item .nav-link:hover{
    background-color: var(--midnight);
}
nav .nav-item .nav-link:hover a{
    color:var(--white);
}
.nav .nav-brand a{
    font-size:2rem;
    height:10vh;
    padding: 3rem 0;
    font-family:var(--Josephine)
}

.nav .social{
    padding:  .6rem 0;
    
}
.nav .social svg{
    padding:0 1rem;
}
.nav .social svg:hover{
    color:#487fef;
}
/* --------x--------------------navigation bar-------------x------- */

/* ------------------main site section------------------------ */

/* -----site Title------------- */
main .site-title{
    background:url("../Blooger_Assets/assets/Hotels-background.jpg");
    background-size:cover;
    height:100vh;
    display:flex;
    justify-content:center;
}

main .site-title .site-background{
    padding:15rem;
    text-align: center;
    color:var(--white);
} 

main .site-title h1,h3{
    margin:.4rem;
}

main .site-title .btn{
    margin:1.8rem;
    background:var(--sky);
}
main .site-title .btn:hover{
    background:transparent;
    border:1px solid var(--white);
    color:var(--white);
}
/* ---X--site Title-------X------ */
/*          site carouser            */

main .blog{
    background:url('../Blooger_Assets/assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height:110vh;
    width:100%;
}
main .blog .blog-post{
    padding-top:3rem;
    display:flex;
    flex-direction:row;
    width:100%;
}

main .blog-post .blog-content{
    display:flex;
    flex-direction:column;
    width:80%;
    text-align:center;
    margin:5rem 2rem;
    box-shadow:0 15px 20px rgba(0,0,0,0.2);
}


main .blog-content .blog-title{
    padding: 2rem 0;
}
main .blog-content .btn-blog{
    padding:1rem 2rem;
    background:var(--sky);
    margin:1rem;
}
main .blog-content span{
    display:block;
}
section .container .owl-nav{
    position:absolute;
    bottom:0%;
    /* margin:0 2rem; */
    width:100%;
    display:block;
    padding-left:35rem;
    
}
section .container .owl-nav .owl-nav-prev, .owl-nav-next{
   padding:0 .9rem;
   background:transparent;
   color:var(--text-gray);
}

section .container .owl-nav .owl-nav-prev:hover, .owl-nav-next:hover{
    color:var(--midnight);
}

.owl-theme .owl-nav[class*='owl-']{
    outline: none;
}
/*------------X------site carouser---------X----------X*/
.site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

.site-content .post-content{
    text-align:center;
    padding-left:3rem;
}
.site-content .post-content > .post-image, .post-title{
    padding:1rem 0;
    position:relative;
    display:flex;
    flex-direction:column;
    width:80%;
}
.site-content .post-content  > .post-image .post-info{
    padding:1rem;
    background:var(--sky);
    position:absolute;
    bottom:1vw;
    left:8vw;
    border-radius:3rem;
}
.site-content .post-content >.post-image > div{
    overflow: hidden;
}
.site-content .post-content >.post-image >img{
    width:90%;
    transition:all 1s ease;
}
.site-content .post-content >.post-image >.img:hover{
    transform:scale(1.04);
}

.site-content .post-content > .post-image .post-info span{
    margin:0.5rem;
}

.site-content .post-content .post-title a{
    font-family:var(--Josephine);
    font-size:2rem;
    text-align:center;
}
.post-content .post-title .post-btn{
    padding:.7rem 1.5rem;
    background:var(--sky);
    margin:0 17rem;
    border-radius:0;
    width:25%;
    
}
.pagination{
    text-align:center;
    color:var(--text-gray);
    margin:4rem 0;
}

.site-content .pagination a{
    padding:.6rem .9rem;
    border-radius:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.site-content .pagination .pages{
    background:var(--text-gray);
    color:white;
}
/* ----------x--------main site section------x------------------ */
 
/* ------------SideBar -------------------*/
.site-content >.sidebar .category-list{
    font-family:var(--Abel);
}
.site-content > .sidebar .category-list .list-items{
    background:var(--sky);
    padding:.4rem 1rem;
    display:flex;
    margin:.8rem 0;
    width:70%;
    justify-content:space-between;
    border-radius:3rem;
}
.site-content > .sidebar .category-list .list-items a{
    color:black;
}
.popular-post .post-content{
    width:100%;
    
}
.sidebar.popular-post .post-image{
    margin-right:12rem
}

.sidebar .popular-post .post-image .sidebarimg{
    padding:2rem;
    transition:all 1s ease;
}
.sidebar .popular-post .post-image .sidebarimg:hover{
    transform:scale(1.2)
}
.site-content .sidebar .popular-post h2{
    padding-top:7rem;
}
.site-content .popular-post .post-info{
    padding:.6rem .1rem !important;
    bottom:0rem !important;
    left:1rem !important;
    border-radius:0rem !important;
    background:white !important;
}
.site-content .sidebar .popular-post .post-title a{
    font-size:1.5rem;
}
.site-content .sidebar .newsletter{
    padding-top:9rem;
}
.site-content .sidebar .newsletter .form-element{
    padding:2rem 1rem;
}

.site-content .sidebar .input-field{
    width:90%;
    height:1.9rem;
    padding:1rem .5rem;
    font-family:var(--Josephine);
    font-size:1.5rem;
}
.site-content .sidebar .newsletter .form-btn{
    border-radius:0;
    padding:1rem 32%;
    margin:1rem 0;
    background:var(--sky);
}
.site-content .sidebar .popular-tags{
    padding: 5rem 0;

}
.site-content .sidebar .popular-tags .tags .tag{
    background:var(--sky);
    padding:.4rem 1rem;
    border-radius:3rem;
    margin:.4rem .7rem;
}
/* -------X-----SideBar -----------X--------*/

/* footer section css    */
.footer{
    height:50%;
    background:var(--bg-color);
    position:relative;

}
.footer .container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer .container div{
    flex-flow:1;
    flex-basis:0;
    padding:2rem .9rem;
}
.footer .container .about-us h2{
    color:var(--white);
}
.footer .container .newsletter h2{
    color:var(--white);
}
.footer .newsletter .form-element{
    background:black;
}
.footer .container .newsletter .form-element input{
    padding:.1rem .3rem;
    border:none;
    background:transparent;
    color:white;
    font-family:var(--Josephine);
    width:100%;
}

.footer .container .instagram h2{
    color:var(--white);
}
.footer .container .follow-me h2{
    color:var(--white);
}

/*            viewport less than or equal to 750px         */

@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-item{
        flex-direction:column;
    }
    .nav .toggle-collapse{
        display:initial;
    }
}

/*    X    viewPort less than or equal to 750px    X     */
